body {
    background-color: #eaeaea;
}
.navbar {
    background-color: #99b4cd;
    padding: 30px 0;

    &__container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }

    &__logo {
        font-family: fantasy;
        font-size: 24px;
        color: #3b3b3b;
        text-transform: uppercase;
        font-weight: 700;

    }

    &__toggle {
        display: none;
    }

    &__menu {
        display: flex;
        align-items: center;
        gap: 35px;
    }

    &__menu-link {
        color: #3b3b3b;
        transition: 0.2s ease;
        text-transform: capitalize;

        &.active,
        &:hover{
            color: #3b3b3b;
            border-bottom: 3px solid #474747;
        }
        // &::after {
        //     display: block;
        //     position: absolute;
        //     left: 0;
        //     /*изменить на right:0;, чтобы изменить направление подчёркивания */
        //     width: 0;
        //     /*задаём длинну линии до наведения курсора*/
        //     height: 2px;
        //     /*задаём ширину линии*/
        //     background-color: #00a650;
        //     /*задаём цвет линии*/
        //     content: "";
        //     transition: width 0.3s ease-out;
        //     /*задаём время анимации*/
        // }
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        &__toggle {
            display: block;
        }

        &__menu {
            display: none;

            &--show {
                padding-top: 25px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 15px;
                width: 100%;

            }
        }
    }
}